<div class="card mx-auto" style="width: 24rem;">
    <h5 class="card-header">SIGCIM</h5>
    <div class="card-body ">
        
        <p>Sistema de Gerenciamento de Compras de Insumos de Manutenção</p>
        <br>
        Faça <a href="/usuarios/login">login </a>para acessar o sistema.
        <br>d

    </div>
</div>