<!--<form>
    <div class="form-row align-items-bottom">
        <div class="col-sm-3 my-1">
            <label for="inlineFormInputGroupUsername">Username</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">R$</div>
                </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
            </div>
        </div>

        <div class="col-auto my-1">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>



<br><br><br><br>

<div class="form-inline " >
                <div class=" ">
                    <label for="valor_mediano" class="sr-only">Valor mediano: </label>
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">R$</div>
                    </div>
                    <input type="text" id="valor_mediano" name="valor_mediano" disabled class="form-control mb-2 mr-sm-2">  
                    </div>              
                </div>
                <div class="form-group col-md-4">
                    <a href="" class="btn btn-light" >Calcular</a>
                </div>
            </div>
            <br>
            -->
<div>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>
            <a class="toggle-vis" data-column="0">Origem</a>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">
            <a class="toggle-vis" data-column="1">Código</a>
        </label>
        <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">
            <a class="toggle-vis" data-column="2">Descrição</a>
        </label>
        </div>
</div>

<div>
			Escolha as colunas: <a class="toggle-vis" data-column="0">Origem</a> 
            <a class="toggle-vis" data-column="1">Código</a> 
            <a class="toggle-vis" data-column="2">Descrição</a> 
            <a class="toggle-vis" data-column="3">Un. Medida</a>
            <a class="toggle-vis" data-column="4">Preço</a>
            <a class="toggle-vis" data-column="5">Observações</a>
		</div>