<h2>Usuários</h2>
<hr>
{{usuarios}}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Matrícula</th>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Perfil</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>

        </tr>
    </tbody>
</table>
<br>

<a href="/admin/usuarios/add"><button class="btn btn-success"> NOVO </button></a>