<p>Olha eu aqui.</p>
<div id="table">
        <bootstrap-table :columns="columns" :data="data" :options="options"></bootstrap-table>
    </div>
    <div id="app">
        \{{info}}    
    </div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table-vue.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/locale/bootstrap-table-pt-BR.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script>
    var app = new Vue({
    el: '#table',
    components: {
      'BootstrapTable': BootstrapTable
    },
    data: {
        columns: [
            {
                title: 'Origem',
                field: 'codigo_origem'
            },
            {
                title: 'Descrição',
                field: 'descricao',
                
            }, 
            {
                field: 'unidade_medida',
                title: 'Un. Medida'
            },
            {
                title: 'Preço',
                field: 'preco_mediano'
            },
            {
                title: 'Observações',
                field: 'observacao'
            }
        ],
        data: [],
        options: {
            search: true,
            showColumns: true,
            pagination: true
            },
        info: null
    },
    methods: {

    },
    mounted () {
        axios
        .get('/insumos/json/lista')
        .then(response => (this.data = response.data))

    }

  })
</script>
