<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">SIGCIM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Compras
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/requisicoes">Requisições</a>
          <a class="dropdown-item" href="/requisicoes/add">Criar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/ordensCompra">Ordens de Compra</a>          
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Insumos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/insumos/">Listar</a>
          <a class="dropdown-item" href="/insumos/add">Cadastrar</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/insumos/bases">Bases de dados</a>
          <a class="dropdown-item" href="/insumos/importar">Importar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Cotações</a>
          <a class="dropdown-item disabled" href="#">Orçamentos</a>
        </div>
        
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Administração
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contratos">Contratos</a>
          <a class="dropdown-item" href="/contratos/empresas">Empresas</a>          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/usuarios">Usuários</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item disabled" href="#">Relatórios</a>
        </div>
        
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Faturamento</a>
      </li>
    </ul>
    <div id="appLogin">
      <ul class="navbar-nav mr-auto">
      {{#if user}}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.matricula}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/usuarios/logout">Logout</a>
        </div>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/usuarios/login">Login</a>
      </li>
      {{/if}}
      </ul>
      
      </div>
    </div>   
  </div>
</nav>

<script>
  var appLogin = new Vue({
    el: '#appLogin',
    data: {
      usuario: null,
    estaLogado: false
    },
    methods: {

    },
    mounted () {
      axios
        .get('/estaLogado')
        .then(response => {
          console.log(response.data)
          if (response.data.user != null){
            this.usuario = response.data.user
            this.estaLogado = true
          }
          
        })
        .catch(error => {
          console.log(error)
          this.errored = true
        })
        .finally(() => this.loading = false)
    }
  })
</script>