<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.4.1.min.js" ></script> 
    <title>SIGCIM</title>

</head>
<body>
    {{>_navbar}}
    
    <div class="container mt-4">
        {{>_msg}}
        {{{body}}}
    </div>
    
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.mask.min.js"></script>
<script src="/js/bs-custom-file-input.min.js"></script>
<script src="/js/mask.js"></script>
<script lang="javascript" src="/js/xlsx.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css"> 
<script type="text/javascript" charset="utf8" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="/js/dataTables.bootstrap4.min.js"></script>


</html>