<div class="row">

    <div class="col md-4 ">
        <div class="card">
            <h5 class="card-header" >Insumos</h5>
            <div class="card-body">
                
                <p>Este módulo é responsável pelas funcionalidades de cadastro de insumos, criação de bases de dados e importação de insumos.</p><br>
                <a class="btn btn-secondary" href="/insumos">Acessar...</a>
            </div>
        </div>
    </div>
    <div class="col md-4 ">
        <div class="card">
            <h5 class="card-header">Requisições e Compras</h5>
            <div class="card-body">
                
                <p>Neste módulo, você terá acesso às requisições de compra e às funcionalidades de criação de requisição e geração de ordem de fornecimento de materiais.</p>
                <a class="btn btn-secondary" href="/requisicoes">Acessar...</a>
            </div>
        </div>
    </div>
    <div class="col md-4 ">
        <div class="card">
            <h5 class="card-header">Administração</h5>
            <div class="card-body">
                
                <p>Utilize o módulo Administração para gerenciar informações sobre contratos, empresas, locais de entrega e usuários.</p><br>
                <a class="btn btn-secondary" href="/">Acessar...</a>
            </div>
        </div>
    </div>
</div>