<div class="card mx-auto" style="width: 18rem;">
    <h5 class="card-header">Login</h5>
    <div class="card-body ">
        
        <form action="/usuarios/login" method="post">
            <label for="matricula">Matrícula: </label>
                <input class="form-control" type="text" name="matricula" id="matricula" required>
            <label for="senha">Senha: </label>
                <input class="form-control" type="password" name="senha" id="senha" required><br>
            <button class="btn btn-success form-control" type="submit">Logar</button>
        </form>
    </div>
</div>