<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">

            <input  type="text" v-model="id" />
            <input  type="text" v-model="name" />
            <button @click="add">adicionar</button>
            <a v-if="estaLogado === true" class="nav-link" href="/usuarios/login">Login</a>
            <div v-for="item in items">
                <p>ID:{{item.id}} - Name: {{item.name}} <button @click="remove(item)">x</button></p>
            </div>
             

            <!-- cabelaaodh -->

            <!-- v-for -->


    </div>
    <div id="appLogin">
        <a v-if="estaLogado === true" href="/usuarios/login">Login</a>
    </div>  

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                
                id:'',
                name:'',
                
                items:[
                    
                ],
                estaLogado: false

            },
            methods:{
                add(){
                    this.items.push({ id:this.id, name:this.name })
                    this.id= this.items.length+1
                    this.name=''
                },
                remove(item){
                    
                    this.items = this.items.filter(row => row.id !== item.id)
                }, 
                
            }
        })

        var appLogin = new Vue({
            el: '#appLogin',
            data: {
                usuario: {
                matricula: 1885704,
                perfil: "tecnico"
            },
            estaLogado: false
            },
            methods: {

            }
        })
    </script>

</body>
</html>